<html>

<head>
    <title>Contact list</title>
    <!--  -->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <h1 id="page-heading"><i class="fa fa-address-book"></i> My Contact List</h1>

    <div id="contact-list-container">
        <ul>
            <% for (let i of Contact_List){ %>
                <li>
                    <div id="details">
                        <p>
                            <%= i.name %>
                        </p>
                        <p>
                            <%= i.phone %>
                        </p>
                    </div>

                    <div class="delete-button">
                        <a href="/delete-contact/<%= i.phone %>">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>

                    <!-- or using queary params wecan alse use as many query we -->
                    <!-- <div class="delete-button">
                        <a href="/delete-contact/?phone=<%= i.phone %> & name=<%= i.name%>">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div> -->

                </li>
                <% } %>
        </ul>
    </div>

    <form id="new-contact-form" action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone Number" required>
        <button type="submit">Add Contact</button>
    </form>
    <script type="text/javascript" src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/6f696a5c4e.js" crossorigin="anonymous"></script>
</body>
</htm>